<nav class="py-2 navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
  <div class="container">
      
      <a class="navbar-brand js-scroll-trigger" routerLink="/">
        <img class="header_logo"  src="../../assets/img/logo/violet_background.svg" alt="Logo">
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
        </ul>
      </div>
  </div>
</nav>

<router-outlet>Loading ...</router-outlet>

<footer class="py-3 h-4 bg-light absolute-bottom">
  <div class="container">
    <p class="m-0 text-center text-black">Copyright &copy; Team-FIT 2019</p>
  </div>
</footer>