/* You can add global styles to this file, and also import other style files */

.header_logo{
    height: 40px;
    width: auto;
}

.welcome_bg{
    background-image: url("assets/img/welcome_page/bg_pattern.svg");
    background-repeat: repeat;
}
