<section class="bg-primary welcome_bg" id="header" style="padding: 300px 0 100px;" >
    <div class="container">
      <div class="row header-text">
        <div class="col-sm-8 pull-left text-left">
          <div class="margin-100 text-white">
            <h1>Witaj w brinjalFIT,</h1>
            <h3>kontroluj z nami swoją diete i treningi!</h3>
          </div>
            <br>
            <a href="/register" class="btn btn-outline-secondary text-white">Dołącz do nas!</a>
         </div>
      </div>
    </div>
  </section>

  <section id="diet" style="padding: 100px 0;" >
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6" data-aos="fade-right" data-aos-duration="1200">
          <img class="pull-left" src="../../../assets/img/welcome_page/diet_monitoring.svg" alt="dieta">
        </div>
          
        <div class="col-sm-6 margin-30">
          <h2>Monitoruj swoją dietę</h2>
          <p class="lead">Odpowiednie odżywianie ma kluczowe znaczenie w procesie treningowym. Kontrola nad kalorycznością i wartościami odżywczymi posiłków to trudne zadanie, ale razem z brinjalFIT: </p><br />
          <ul>
            <li>Dowiesz się jakiej ilości makroskładników potrzebujesz</li>
            <li>Skomponujesz własne posiłki z ulubionych produktów</li>
            <li>Rozplanujesz dzienną dietę</li>
            <li>Będziesz na bieżąco informowany, czy udało ci się wypełnić plan żywieniowy</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="alert-secondary" id="training" style="padding: 70px 0;" >
    <div class="container">
        <div class="row">
            
          <div class="col-sm-6 margin-30">
            <h2>Monitoruj swoje treningi</h2>
            <p class="lead">Regularność i progres to dwa filary dobrego treningu, a prowadzenie dziennika treningowego to dodatkowa motywacja. Kartka, długopis? BrinjalFIT pozwoli Ci:</p><br />
            <ul>
              <li>Układać własne plany treningowe</li>
              <li>Rejestrować dokonania</li>
              <li>Analizować postęp treningowy</li>
            </ul>
          </div>

          <div class="col-sm-6" data-aos="fade-left" data-aos-duration="1200">
              <img class="pull-right" src="../../../assets/img/welcome_page/training_monitoring.svg" alt="trening">
          </div>

        </div>
    </div>
  </section>

  <section id="phone" style="padding: 100px 0;" >
    <div class="container">
        <div class="row">
        
            <div class="col-sm-6" data-aos="fade-right" data-aos-duration="1200">
              <img class="pull-left" src="../../../assets/img/welcome_page/desktop_mobile.svg" alt="desktop_mobile">
            </div>
              
            <div class="col-sm-6 margin-30">
              <h2>Korzystaj w przeglądarce internetowej lub na telefonie</h2>
              <p class="lead"> BrinjalFIT jest zawsze tam gdzie Tyyyy... W kuchni, na treningu czy przy biurku. Zawsze gdy potrzebujesz skorzystać z brinjalFIT, możesz to zrobić za pośrednictwem przeglądarki lub smartfona</p><br />
              <!-- Trzeba tu napisać jak korzystać na telefonie -->
          </div>
          </div>
      </div>
  </section>
